# Ignore node_modules for both client and server
/client/node_modules/
/server/node_modules/

# Ignore environment variable files
/client/.env
/server/.env

# Ignore IDE/editor config
.vscode/
  
/learn.text